* {
	padding: 0;
	margin: 0;
	font-family: helvetica;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding: 15px 0;
	background-color: #1DD3E9;
}
.medsos ul li {
	display: inline-block;
	color: white;
	margin-right: 10px;
}
.container {
	width: 95%;
	margin: 0 auto;
	text-align: right;
}
body ul {
	font-family: helvetica;
}
header {
	border: 1px solid;
}
header h1 {
	border: 1px solid;
}
header ul {
	border: 1px solid;
}
